/*=======================================
    GENERAL STYLES
==================================================*/
body {
    font-family: 'Nova Flat', cursive;
    background-color: #ebecf5;
color: #5b5d68;
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
#error-link {
    font-size:150px;
    padding:10px;
}


